:root {
    --main-bg-color: #202020;
    --main-header-color: lightgray;
    --main-text-color: #808080;

    --card-border-color: #8685;
    --card-border-hover-color: #868;
    --card-bg-color: white;
    --card-text-color: RGB(217,169,48);

    --doc-bg-color-in: rgba(138, 32, 32, 0.479);
    --doc-bg-color-out: rgba(143, 19, 19, 0.479);
}

html{
    scroll-padding-top: 100px;
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
    scroll-behavior: smooth;
    margin: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0;
}
html::-webkit-scrollbar{
    width: 1vw;
}
html::-webkit-scrollbar-thumb{
    background-color: #7775;
    border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: #777;
    border-radius: 5px;
}
html::-webkit-scrollbar-track{
    background-color: #5555;
}
html::-webkit-scrollbar-track-hover{
    background-color: #555;
}
body{
    margin: 0px;
    padding: 0px;
}


.HeadingWrapper{
    position: sticky;
    display: flex;
    top: 0;
    bottom: 100px;
    background-color: #0005;
}

.HomeButton{
    padding-left: 2rem;
    filter:invert();
    align-self: center;
}
.UpButton{
    padding-left: 1rem;
    filter: invert();
    align-self: center;
}

.inverted
{
    margin-left: 4px;
    filter: invert(1);
}

body {
    background-repeat: no-repeat;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.header{
    width: 100%;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    color: var(--main-header-color);
}