:root {
    --main-bg-color: #202020;
    --main-header-color: lightgray;
    --main-text-color: #808080;

    --main-content-width: 60rem;

    --card-border-color: #8685;
    --card-border-hover-color: #868;
    --card-bg-color: white;
    --card-text-color: RGB(217,169,48);

    --doc-bg-color-in: rgba(138, 32, 32, 0.479);
    --doc-bg-color-out: rgba(143, 19, 19, 0.479);

}

html{
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
    scroll-behavior: smooth;
    margin: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0;
    font-size: 16px;
    font-family: Consolas;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 0.8vw;
    max-width: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color: #7775;
    border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: #777;
    border-radius: 5px;
}
html::-webkit-scrollbar-track{
    background-color: #5555;
}
html::-webkit-scrollbar-track-hover{
    background-color: #555;
}
body{
    margin: 0px;
    padding: 0px;
}

.HeadingWrapper{
    display: flex;
    background-color: #0005;
    box-shadow: 10px 5px 15px -10px var(--card-text-color),10px -5px 15px -10px var(--card-text-color);
}



body {
    margin-left: var(--sidebar-width);
    background-repeat: no-repeat;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}


.header{
    width: 100%;
    font-weight: 800;
    text-align: center;
    text-decoration: underline;
    color: var(--main-header-color);
}










/* GOOGLE CODE PRITIFYER STYLE */
pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
	background-color: #000;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}