@import url("../globalstyles.css");



div{
    color: white;
}
a{
    color: lightcoral;
    text-decoration: none;
}


/* WindowsUnicodeDialog */
.subheader{
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    justify-self: left;
    text-decoration: underline;
}
.subsubheader{
    margin-top: 0.7rem;
    font-size: 1.1rem;
    margin-bottom: 0.5;
    width: 100%;
    text-align: left;
    justify-self: left;
    text-decoration: underline;
}
.phrase{
    margin-left: 2rem;
}


.EmojiGif{
    align-self: center;
    max-width: 600px;
    max-height: 338px;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(111, 156, 28, 0.75); 
    box-shadow: 0px 0px 20px 5px rgba(111, 156, 28, 0.75);
}



/* InjectorBuilder */
.downloadlink{
    margin-top: 3rem;
    background-color: inherit;
    justify-self: center;
    text-align: center;
    border: 1px solid orange;
}
.downloadlink > img{
    color: white;
}
